<div id="instance-modal" class="modal-dialog">
  <div class="modal-content">
    <div class="at-Panel-headingRow">
      <div class="col-xs-10">
        <h3 class="at-Panel-headingTitle">{{:: vm.lookUpTitle}} </h3>
      </div>
      <div class="col-xs-2">
        <div class="at-Panel-dismiss">
          <i class="fa fa-times-circle fa-lg" ng-click="vm.dismiss()"></i>
        </div>
      </div>
    </div>

    <multi-select-preview selected-rows='vm.selectedRows' available-rows='vm.credTypes'></multi-select-preview>
    <at-panel-body>
      <div class="at-List-toolbar">
        <smart-search class="at-List-search" django-model="instances" base-path="{{vm.list.basePath}}"
          iterator="add_credential_type" list="vm.list" collection="vm.credTypes" dataset="vm.credTypes_dataset"
          search-tags="vm.searchTags" search-bar-full-width="true">
        </smart-search>
      </div>
      <at-list-toolbar ng-if="vm.credTypes.length > 0" sort-only="true" sort-value="vm.toolbarSortValue"
        sort-options="vm.toolbarSortOptions" on-sort="vm.onToolbarSort">
      </at-list-toolbar>
      <at-list results='vm.credTypes'>
        <at-row ng-repeat="credType in vm.credTypes">

          <input type="checkbox" class="at-Row-checkbox" ng-class="{ 'at-Input--rejected': state.rejected }"
            ng-checked="credType.isSelected" ng-attr-tabindex="{{ tab || undefined }}" ng-disabled="state._disabled"
            ng-click="vm.toggleRow(credType)" />
          <div class="at-Row-items" style="flex: 1">
            <at-row-item header-value="{{ credType.name }}" header-tag="{{ vm.instanceTypes[instance.type] }}">
            </at-row-item>
            </at-row-item>
          </div>
        </at-row>
      </at-list>
      <paginate collection="vm.instances" dataset="vm.credTypes_dataset" iterator="add_credential_type"
        base-path="{{vm.list.basePath}}">
      </paginate>
      <div class="at-ActionGroup">
        <div class="pull-right">
          <button class="btn at-ButtonHollow--default" ng-click="vm.dismiss()">
            {{:: vm.strings.get('CANCEL') }}
          </button>
          <button class="btn at-Button--success" ng-click="vm.saveCredType()">
            {{:: vm.strings.get('SAVE') }}
          </button>
        </div>
      </div>
    </at-panel-body>
  </div>
</div>
